@media(max-width:500px) {
    h1 {
        color: rgb(255, 230, 8);
        text-shadow: 1px 2px 2px red;
        font-size: 30px;
        font-style: italic;
    }
    h2 {
        font-size: 20px;
        color: rgb(0, 255, 13);
    }
    p {
        text-align: center;
        font-size: 17px;
    }
}